body {
  padding: 16px 32px;
  height: 200px;
  width: 500px;

  margin-inline: 500px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 24px;
}

/* We'll learn about this later on! */
aside p:last-of-type {
  margin-bottom: 0;
  margin-top: 0;
}

aside {
  background: peachpuff;
  border: 2px solid;
  padding: 20px;
  color: black;
}

.cd {
  color: deeppink;
}

.red {
  color: black;
}

.cd:link {
  color: deeppink;
  text-decoration: none;
}
.red:hover,
.red:active {
  text-decoration: none;
  color: black;
}

.red:link {
  color: black;
}

.cd:hover,
.cd:active {
  text-decoration: underline;
  color: deeppink;
}

.recipe {
  font-weight: 600;
}
